---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import PostPreview from '../components/PostPreview.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>
	<body class="flex flex-col items-center dark:text-gray-100 dark:bg-gray-900">
		<Header />
		<main>
			<content>
				<div class="flex flex-col">
					{posts.map((post) => (
						<PostPreview {post}></PostPreview>
					))}
				</div>
			</content>
			<Footer />
		</main>
	</body>
</html>
